* {
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

#feedback-form {
    position:fixed;
    right: 15px;                 
    width:50px;
    height:50px;
    border-radius:50%;
    opacity:0;
    z-index:2;
    background:#fff;
    box-shadow:0px 4px 5px 1px rgba(100,100,100,0.6);
}

#feedback-form.send {
    animation:sendIt 800ms ease forwards !important;
}

#feedback-form #close {
    position:absolute;
    top:-10px;
    right:-10px;
    background:rgba(0,0,0,0.5);
    color:#e7e7e7;
    width:22px;
    height:22px;
    text-align:center;
    line-height:22px;
    border-radius:50%;
    z-index:3;
    cursor:pointer;

}

#feedback-form .title {
    padding:12px 15px;
    font-size:18px;
    color:#fff;
    background:#55acee;                                
}

#feedback-form .row {
    display:flex;
    width:100%;
    border-bottom:1px solid rgba(100,100,100,0.5);
}

#feedback-form .msg {  
    width:100%;            
    color:red;
    height:20px;
    text-align: center;
    font-size:12px;
}

#feedback-form .row > *{
    flex:1;
    width:100%;
    border-top:none;
    border-bottom:none;
    border-right:1px solid #eee;
    border-left:1px solid #eee;
    outline:none;
    outline:none;
}
#feedback-form .row > input {
    padding:5px;
}
#feedback-form .row > textarea {
    padding:5px;
    height:60px;
    resize:none;
}
#feedback-form .submit-btn-row{
    display:flex;
    flex-direction:row-reverse;
    height:35px;
}
#feedback-form .submit-btn-row >* {
    height:100%;
    width:100px;                
    border:none;                
}

#feedback-form.active {
    opacity:1;                
    width:350px;
    height:340px;
    border-radius:5px;    
}

.video {
    margin: 5px;
    opacity: 0.7;
}

#feedback-form .button {
    margin-left: 5px;
    background-color: #3183d7;
    border-radius: 35px;             
    margin-right: 5px;
    margin-top: 5px;
    color: black;
    inline-size: auto;
}

.edit-btn {
    position:fixed;
    bottom:30px;
    right:30px;
    display:inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;  
    width:45px;
    height:45px; 
    background:#3183d7;
    color:#eee;
    text-align:center;
    line-height:50px;
    font-size:22px;
    border-radius:50%;
    transition:all 500ms linear;
    opacity:0.85;
    z-index:1;
}


.edit-btn.active {   
    opacity: 0;
}

@keyframes sendIt {
    0% {
        transform:translateY(0px);
    }
    20%{
        transform:translateY(20px);
    }
    100%{
        transform:translateY(-500px);
    }
}    